/*aggiunta per potenziale terza pagina*/
/*contenitore esterno di tutta la colonna*/
div.center-column {
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
}
/*singolo elemento della colonna */
div.column-element {
    flex: 1;
    min-width: 10%;
    justify-content: center;
}
/*barra sotto l'elemento della colonna*/
div.cloumn-bar {
    display: flex;
    flex-direction: row;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
}
/*Stile della data*/
span.data {
    font-size: 0.7em;
    color: #919191;
}
/*Contenitore del testo centrato sull'immagine*/
div.comulm-text-container {
    position: absolute;
    text-align: center;
    flex: 1;
    min-width: 10%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
/*classe dell'immagine*/
img.card-image {
    width: 100%;
    height: 100%;
}
/*Titolo del testo centrato sull'immagine*/
div.card-title {
    font-weight: bold;
    font-size: 2em;
}
/*corpo del testo sopra l'immagine*/
div.card-body {
    margin-top: 5%;
    overflow: hidden;
    font-weight: bold;
}
/*Stile del separatore tra titolo e testo */
hr.card-line {
    background-color: aqua;
}
/*stile del testo contenuto nella barra sottostante all'immagine*/
div.column-foot{
    padding-left: 7%;
}
/*regole per i link*/
a.link {
    all: inherit;
    cursor: pointer;
    margin: 0;
}
a.news {
    all: inherit;
    cursor: pointer;
}
/*regole per cambiare colore alla scritta e alla riga, quando ci si passa con il cursore*/
.card-title:hover {
    color: aqua;
    
}
.card-title:hover hr.card-line{
    background-color: white;
}
/*Titolo*/
h1.titolo {
    text-align: center; 
    color:red; 
    font-weight: bold;
}